<div class="hero-unit">
  <h2>All Menus</h2>
  <%- linkTo('Create a new Menu', addMenuPath, {class: 'btn pull-right'}); %>
</div>

<div id="menus-list">
<% if (menus) { %>
<% for (var i = 0, ii = menus.length; i < ii; i++) { %>
  <div class="row list-item" id="menu-<%= menus[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(menus[i].name, menuPath(menus[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= menus[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>