                              <div class="control-group">
        <label for="content" class="control-label">content</label>
        <div class="controls">
                <textarea rows="10" class="span6" name="content">{{comment.content}}</textarea>
              </div>
      </div>
            