<div class="hero-unit">
  <h2>All Comments</h2>
  <a href="/comments/add" class="btn pull-right">Create a new Comment</a>
</div>

<div id="comments-list">
{{#each comments }}
  <div class="row list-item" id="comment-{{id}}">
    <div class="span8">
      <h3><a href="/comments/{{id}}">{{id}}</a></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i>{{id}}</h3>
    </div>
  </div>
{{/each}}
</div>
