/* General styling */
html, body {
  height: 100%;
}

body {
  background-color: #edeff1;
}

a {
  color: #34495e;
}

a:hover, a:focus {
  color: #e74c3c;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -405px;
  padding-bottom: 405px;
}

/* Navigation bar */
.navbar {
  border-radius: 0;
  border-bottom: 1px solid #2c3e50;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navbar .navbar-header {
  border-left: 1px solid #2c3e50;
}

.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a:focus {
  background-color: #e74c3c;
  border-bottom-color: #c0392b;
}

.navbar .nav > li > a {
  border-left: none !important;
}

.navbar .nav li.dropdown > .dropdown-toggle:hover .caret, .navbar .nav li.dropdown > .dropdown-toggle:focus .caret {
  border-bottom-color: #e74c3c;
  border-top-color: #e74c3c;
}

.navbar .nav li.dropdown.open > .dropdown-toggle {
  background-color: #e74c3c;
  border-bottom-color: #c0392b;
  color: #fff;
  border-radius: 0;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #fff;
  border-radius: 0;
}

.navbar .navbar-brand {
  border: none;
  border-radius: 0;
  font-size: 33px;
  font-weight: 300;
  line-height: 42px;
}

.navbar .nav > li > a {
  border-bottom: none;
  font-size: 20px;
  line-height: 27px;
}

.navbar, .navbar .navbar-header, .navbar .nav li a {
  height: 60px;
  border-radius: 0;
}

.navbar .navbar-header {
  background: #e74c3c;
}

.navbar .nav > li {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.11);
  transition: background-color 0.1s linear;
}

.navbar .nav > li:hover {
  background: #fff;
  height: 60px;
  box-shadow: none;
  border-right: 1px solid #2c3e50;
}

.navbar .nav > li:first-child, .navbar .nav > li:last-child {
  border-radius: 0;
}

.navbar .navbar-toggle {
  border-color: #fff;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: #354b60;
}
.navbar .navbar-toggle:hover {
  border-color: #354b60;
}

.navbar-toggle {
  margin-top: 13px;
  margin-bottom: 13px;
}

@media (min-width: 768px) {
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -44px;
  }
}

.nav.navbar-nav.navbar-right li.placeholder {
  height: 60px;
  width: 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  visibility: visible;
  display: block;
  opacity: 1;
}

ul.nav li.dropdown:hover > ul.dropdown-menu.user-logged-out {
  min-width: 210px;
}

ul.nav li.dropdown > ul.dropdown-menu {
  transition: opacity 0.1s linear;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-left: 1px solid rgba(0,0,0,0.15);
  border-right: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.07);
  background-clip: padding-box;
  margin-left: -1px;
  width: 218px;
}

.navbar .nav li.dropdown .dropdown-menu, .navbar .nav ul a:hover {
  background: #fff;
}

.navbar .nav li.dropdown .dropdown-menu > li {
  background: #fff;
  padding: 0;
}

ul.nav li.dropdown:hover > a.dropdown-toggle {
  cursor: default;
}

ul.nav li.dropdown:hover > a.dropdown-toggle[href] {
  cursor: auto;
}

ul.nav li.dropdown:hover > a.dropdown-toggle, .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color: #2c3e50;
}

.navbar .nav li.dropdown .dropdown-menu > li > a {
  border-bottom: 1px solid #eee;
  border-radius: 0;
  color: #34495e;
  font-size: 18px;
  line-height: 26px;
  height: 55px;
  padding: 15px;
}

.navbar .nav li.dropdown .dropdown-menu > li > a:hover {
  color: #e74c3c;
}

.navbar .nav li.dropdown .dropdown-menu > li:last-child > a {
  border-bottom: none;
}

.navbar .nav > li.dropdown > a:hover, .navbar .nav > li.dropdown > a:focus {
  color: #fff;
}

.navbar .dropdown-menu {
  margin-top: 0;
}

.navbar-inverse .nav.navbar-right .dropdown-menu {
  margin-right: -1px;
  right: 0;
  left: auto;
  width: calc(100% + 2px);
}

/* Header */
header {
  padding-top: 50px;
}

header .col-md-6 {
  padding: 0;
}

/* Footer */
footer {
  height: 405px;
  border-top: 5px solid #e74c3c;
  color: #dfdfdf;
  margin-top: 20px;
}

footer .widgets {
  height: 320px;
  background-color: #34495e;
  padding-top: 8px;
}

footer .nav {
  height: 80px;
  background-color: #2c3e50;
  padding-top: 30px;
}

footer .nav a {
  font-weight: normal;
}

footer .nav .container {
  padding-left: 0;
  padding-right: 0;
}

footer .nav .col-md-6:last-child {
  text-align: right;
  padding-right: 0;
}

/* Text */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .navbar .nav > li > a {
  font-weight: 400;
}

h1 {
  font-size: 38px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 8px;
}

h2 {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 40px;
  color: #363A41;
}

h3.bottom-widget {
  font-size: 21px;
  font-weight: normal;
}

.signin > h3 {
  margin-top: 0;
  text-align: center;
  font-size: 31px;
  padding-bottom: 25px;
  border-bottom: 4px solid #e74c3c;
}

h4 {
  font-size: 25px;
  border-bottom: 3px solid #34495e;
  padding-bottom: 15px;
  margin-bottom: 0;
}

h5 {
  font-size: 33px;
  text-shadow: 1px 1px #fff;
}

/* Posts area */
section.container {
  background: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #d7e0e9;
  border-radius: 4px;
  padding: 30px;
}

.articlesWrapper.col-md-8 {
  padding: 0;
}

article {
  margin-bottom: 45px;
  padding-bottom: 35px;
  border-bottom: 1px dotted rgba(52, 73, 94, 0.1);
}

article:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

aside.col-md-4 {
  padding-left: 30px;
  padding-right: 0;
}

ul.post-info {
  padding-left: 0;
}

ul.post-info li {
  display: inline;
  margin-right: 7px;
}

.pager {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
  color: #9AA0A7;
  background-color: #E0E0E0;
}

/* Widgets */
.widget {
  border-bottom: 1px dotted rgba(52, 73, 94, 0.1);
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.widget:last-child {
  border-bottom: none;
}

.widget h3 {
  font-size: 19px;
  margin: 0;
  padding-bottom: 5px;
  color: rgba(136, 136, 136, 0.46);
}

.widget ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  list-style-type: none;
}

.widget ul li {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 7px;
}

.widget ul li a {
  color: #34495E;
}

.widget ul li a:hover {
  color: #e74c3c;
}

/* Comments */
.comments .comment {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px dotted rgba(52, 78, 104, 0.23);
  display: inline-block;
  width: 100%;
}

.comments .comment:last-child {
  border-bottom: none;
}

.comments .comment > .col-md-2 {
  padding-left: 0;
  padding-top: 10px;
  text-align: center;
}

.comments .comment > .col-md-10 {
  padding-left: 0;
  padding-right: 0;
}

.comments .comment .comment-header {
  padding-bottom: 40px;
}

.comments .comment .comment-header > .col-md-8 {
  padding: 0;
  font-size: 22px;
  color: #2c3e50;
}

.comments .comment .comment-header > .col-md-4 {
  padding: 0;
  text-align: right;
  font-size: 15px;
  line-height: 37px;
  color: rgba(136, 136, 136, 0.46);
}

.comments .comment .comment-avatar {
  width: 75px;
  height: 75px;
}

.comment-reply-form {
  margin-top: 30px;
}

.comment-reply-form .comment-signedin-name {
  padding-top: 7px;
  line-height: 35px;
}

.form-group.focus .form-control, .form-control:focus {
  border-color: #e74c3c;
}

/* Login page */
.signin input {
  margin-bottom: 20px;
}

.signin .col-md-5 {
  float: inherit;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 50px 75px;
}

.signin .signin-recover {
  font-size: 17px;
  line-height: 40px;
  text-decoration: underline;
}

.signin .signin-buttons button, .signin .signin-buttons a {
  margin-left: 10px;
  margin-top: 10px;
  float: right;
}

@media (min-width: 768px) {
  .comment-reply-form .col-sm-2 {
    width: 20%;
  }

  .comment-reply-form .col-sm-10 {
    width: 80%;
  }

  .comment-reply-form .col-sm-offset-2 {
    margin-left: 20%;
  }
}

section.signin {
  padding-left: 0;
  padding-right: 0;
}
