/* Webfont: LatoLatin-Regular */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/LatoLatin-Regular.eot');
  src: url('../fonts/lato/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/LatoLatin-Regular.woff') format('woff'),
       url('../fonts/lato/LatoLatin-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatinLight-Regular */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/LatoLatinLight-Regular.eot');
  src: url('../fonts/lato/LatoLatinLight-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/LatoLatinLight-Regular.woff') format('woff'),
       url('../fonts/lato/LatoLatinLight-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* General styling */
html, body {
  height: 100%;
}

body {
  background-color: #edeff1;
}

img {
  max-width: 100%;
}

a {
  color: #34495e;
}

a:hover, a:focus {
  color: #e74c3c;
}

span#comments {
  margin-top: -60px;
  padding-bottom: 60px;
  display: block;
  height: 0;
}

#map-canvas {
  height: 271px;
}

#flash-container {
  margin-top: 15px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -405px;
  padding-bottom: 405px;
}

/* Navigation bar */
.navbar {
  border-radius: 0;
  border-bottom: none;/*1px solid #2c3e50;*/
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar .profile-picture {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  border: 2px solid #fff;
  margin-top: -7px;
  margin-right: 5px;
}

.navbar .profile-name {
  display: inline-block;
}

.navbar .profile-name span {
  vertical-align: text-bottom;
}

@media (max-width: 768px) {
  .navbar-inverse .navbar-brand {
    padding-left: 13px;
  }
}

.navbar .navbar-header {
  border-left: 1px solid transparent;
}

.navbar-inverse .nav.navbar-right .open > .dropdown-menu:before {
  display: none !important;
}

.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a:focus {
  background-color: #e74c3c;
  border-bottom-color: #c0392b;
}

.navbar .nav > li > a {
  border-left: none !important;
}

.navbar .nav li.dropdown > .dropdown-toggle:hover .caret, .navbar .nav li.dropdown > .dropdown-toggle:focus .caret {
  border-bottom-color: #e74c3c;
  border-top-color: #e74c3c;
}

.navbar .nav li.dropdown.open > .dropdown-toggle {
  background-color: #e74c3c;
  border-bottom-color: #c0392b;
  color: #fff;
  border-radius: 0;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #fff;
  border-radius: 0;
}

.navbar .navbar-brand {
  border: none;
  border-radius: 0;
  font-size: 33px;
  font-weight: 300;
  line-height: 42px;
  margin-right: -11px;
}

.navbar .nav > li > a {
  border-bottom: none;
  font-size: 20px;
  line-height: 27px;
}

.navbar, .navbar .navbar-header, .navbar .nav li a {
  height: 60px;
  border-radius: 0;
}

/*.navbar .navbar-header {
  background: #e74c3c;
}*/

.navbar .nav > li {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.11);
  transition: background-color 0.1s linear;
}

.navbar .nav > li:hover {
  background: #fff;
  height: 60px;
  box-shadow: none;
  border-right: 1px solid #2c3e50;
}

.navbar .nav > li:first-child, .navbar .nav > li:last-child {
  border-radius: 0;
}

.navbar .navbar-toggle {
  border-color: #fff;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: #354b60;
}
.navbar .navbar-toggle:hover {
  border-color: #354b60;
}

.navbar-toggle {
  margin-top: 13px;
  margin-bottom: 13px;
}

.nav.navbar-nav.navbar-right li.placeholder {
  height: 60px;
  width: 0;
}

@media (min-width: 992px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    visibility: visible;
    display: block;
    opacity: 1;
  }
}

ul.nav li.dropdown:hover > ul.dropdown-menu.user-logged-out {
  min-width: 210px;
}

ul.nav li.dropdown > ul.dropdown-menu {
  transition: opacity 0.1s linear;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-left: 1px solid rgba(0,0,0,0.15);
  border-right: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.07);
  background-clip: padding-box;
  margin-left: -1px;
  min-width: 203px;
  width: auto;
}

.navbar .nav li.dropdown .dropdown-menu, .navbar .nav ul a:hover {
  background: #fff;
}

.navbar .nav li.dropdown .dropdown-menu > li {
  background: #fff;
  padding: 0;
}

ul.nav li.dropdown:hover > a.dropdown-toggle {
  cursor: default;
}

ul.nav li.dropdown:hover > a.dropdown-toggle[href] {
  cursor: auto;
}

ul.nav li.dropdown:hover > a.dropdown-toggle,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li:hover > a,
.navbar .nav > li:focus > a {
  color: #2c3e50;
}

.navbar .nav li.dropdown .dropdown-menu > li > a {
  border-bottom: 1px solid #eee;
  border-radius: 0;
  color: #34495e;
  font-size: 18px;
  line-height: 26px;
  height: 55px;
  padding: 15px;
}

.navbar .nav li.dropdown .dropdown-menu > li > a:hover {
  color: #e74c3c;
}

.navbar .nav li.dropdown .dropdown-menu > li:last-child > a {
  border-bottom: none;
}

.navbar .nav > li.dropdown > a:hover, .navbar .nav > li.dropdown > a:focus {
  color: #fff;
}

.navbar .dropdown-menu {
  margin-top: 0;
}

.navbar-inverse .nav.navbar-right .dropdown-menu {
  margin-right: -1px;
  right: 0;
  left: auto;
  width: calc(100% + 2px);
}

/* Header */
header {
  height: 100%;
  width: 100% !important;
  position: absolute;
  background: url(../img/header_bg.jpg) center center;
  background-size: cover;
  top: 0;
  color: white;
  text-align: center;
}

header .col-md-6 {
  padding: 0;
}

header + .container > section.container {
  margin-top: 100%;
}

/* Footer */
footer {
  height: 405px;
  border-top: 5px solid #e74c3c;
  color: #dfdfdf;
  margin-top: 20px;
}

footer .widgets {
  background-color: #34495e;
  padding-top: 8px;
  padding-bottom: 30px;
}

footer .nav {
  height: 80px;
  background-color: #2c3e50;
  padding-top: 30px;
}

footer .nav a {
  font-weight: normal;
}

footer .nav .container {
  padding-left: 0;
  padding-right: 0;
  background: #2c3e50;
}

footer .nav .col-md-6:last-child {
  text-align: right;
}

@media (max-width: 992px) {
  footer p {
    text-align: center;
    margin-top: -12px;
    margin-bottom: 14px;
  }

  footer .nav .col-md-6:last-child {
    text-align: center;
    float: center !important;
    padding-right: 15px;
  }
}

/* Text */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .navbar .nav > li > a {
  font-weight: 400;
}

header .textWrapper {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 35%;
}

header h1 {
  font-size: 56px;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 8px;
}

header h1+span {
  font-size: 30px;
}

h2 {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 40px;
  color: #363A41;
}

h3.bottom-widget {
  font-size: 21px;
  font-weight: normal;
  margin-top: 20px;
}

.signin > h3 {
  margin-top: 0;
  text-align: center;
  font-size: 31px;
  padding-bottom: 25px;
  border-bottom: 4px solid #e74c3c;
}

h4 {
  font-size: 25px;
  border-bottom: 3px solid #34495e;
  padding-bottom: 15px;
  margin-bottom: 0;
}

h5 {
  font-size: 33px;
  text-shadow: 1px 1px #fff;
}

/* Posts area */
section.container {
  background: #fff;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 1px solid #d7e0e9;
  border-radius: 4px;
  padding: 30px;
}

@media (min-width: 768px) {
  section.container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  section.container {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  section.container {
    width: 1140px;
  }
}

@media (max-width: 992px) {
  aside.col-md-4 {
    margin-top: 50px;
    padding-left: 0 !important;
  }

  aside h3 {
    text-align: center;
  }

  header h1, header span {
    text-align: center;
    display: block;
  }
}

.articlesWrapper.col-md-8 {
  padding: 0;
}

.articlesWrapper h3 {
  margin-top: 0;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 24px;
  border-bottom: 2px solid rgba(52, 73, 94, 0.52);
}

.articlesWrapper .no-posts {
  text-align: center;
}

article {
  margin-bottom: 45px;
  padding-bottom: 35px;
  border-bottom: 1px dotted rgba(52, 73, 94, 0.1);
}

article:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

aside.col-md-4 {
  padding-left: 30px;
  padding-right: 0;
}

ul.post-info {
  padding-left: 0;
}

ul.post-info li {
  display: inline;
  margin-right: 7px;
}

.post-body img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* Pagination */
.pager {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  font-weight: 400;
}

.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
  color: #9AA0A7;
  background-color: #E0E0E0;
}

@media (max-width: 992px) {
  .pager {
    margin-top: 35px;
  }
}

/* Widgets */
.widget {
  border-bottom: 1px dotted rgba(52, 73, 94, 0.1);
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.widget .smaller {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 3px;
  color: #888;
}

.widget:last-child {
  border-bottom: none;
}

.widget h3 {
  font-size: 19px;
  margin: 0;
  padding-bottom: 5px;
  color: #888;
}

.widget ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  list-style-type: none;
}

.widget ul li {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 8px;
}

.widget ul li a {
  color: #34495E;
}

.widget ul li a:hover {
  color: #e74c3c;
}

.widget .widget-comment {
  display: inline-block;
  border-bottom: 1px dotted rgba(52, 73, 94, 0.1);
  width: 100%;
}

.widget li:last-child .widget-comment {
  border-bottom: none;
}

.widget .widget-comment .col-xs-4 {
  padding: 0 0 12px 0;
  width: 47px;
}

.widget .widget-comment .col-xs-8 {
  padding: 0 0 0 6px;
  width: calc(100% - 47px);
}

.widget .widget-comment .col-xs-8 .smaller {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #888;
}

.widget .widget-comment .comment-avatar {
  width: 40px;
  height: 40px;
}

.widget .widget-comment p {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;
}

.widget .widget-comments {
  margin-top: 15px;
  margin-bottom: -10px;
}

/* Comments */
.comments .comment {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px dotted rgba(52, 78, 104, 0.23);
  display: inline-block;
  width: 100%;
}

.comments .comment:last-child {
  border-bottom: none;
}

.comments .comment > .col-md-2 {
  padding-left: 0;
  padding-top: 5px;
  text-align: center;
}

.comments .comment > .col-md-10 {
  padding-left: 0;
  padding-right: 0;
}

.comments .comment .comment-header {
  padding-bottom: 40px;
}

.comments .comment .comment-header > .col-md-8 {
  padding: 0;
  font-size: 22px;
  color: #2c3e50;
}

.comments .comment .comment-header > .col-md-8 form {
  display: inline;
}

.comments .comment .comment-header > .col-md-8 .close {
  float: none;
  display: none;
  padding-left: 5px;
}

.comments .comment:hover .comment-header > .col-md-8 .close {
  display: inline;
}

.comments .comment .comment-header > .col-md-4 {
  padding: 0;
  text-align: right;
  font-size: 15px;
  line-height: 37px;
  color: #888;
}

.comments .comment .comment-avatar {
  width: 75px;
  height: 75px;
}

.comment-reply-form {
  margin-top: 30px;
}

.comment-reply-form .comment-signedin-name {
  padding-top: 7px;
  line-height: 35px;
}

.form-group.focus .form-control, .form-control:focus {
  border-color: #e74c3c;
}

@media (min-width: 768px) {
  .comment-reply-form .col-sm-2 {
    width: 20%;
  }

  .comment-reply-form .col-sm-10 {
    width: 80%;
  }

  .comment-reply-form .col-sm-offset-2 {
    margin-left: 20%;
  }
}

/* Add post */
.add-post h4 {
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom-width: 2px;
}

.add-post .toolbar .btn {
  padding: 6px 10px;
  border-radius: 3px;
}

.add-post .toolbar .btn-group:first-child .btn, #pictureBtn {
  border-radius: 3px !important;
}

.add-post .toolbar .caret {
  border-bottom-color: #fff;
  border-top-color: #fff;
}

.add-post .btn-group {
  margin: -10px 5px 18px 0 !important;
}

.add-post .post-options {
  margin: 20px 0 0 0;
}

.add-post .post-options .post-buttons {
  text-align: right;
}

.add-post .post-options .post-buttons .btn {
  margin-left: 5px;
}

.add-post .title-input {
  margin-bottom: 30px;
}

.add-post .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}

.add-post .btn-group > .btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.add-post .dropdown-menu {
  border: 1px solid rgb(230, 230, 230);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
}

.add-post .dropdown-menu.add-link-dropdown, .add-post .dropdown-menu.add-pic-dropdown {
  padding: 10px;
  min-width: 230px;
}

.add-post .dropdown-menu.add-link-dropdown .input-group-btn {
  display: inline-block;
}

.add-post .dropdown-menu.add-link-dropdown .btn, .add-post .dropdown-menu.add-pic-dropdown .btn {
  height: 40px;
  padding-right: 12px;
  margin-left: 8px;
}

.add-post .dropdown-menu a {
  cursor: pointer;
}

#add-link-input, #add-pic-input {
  border-radius: 4px;
  width: 125px;
  display: inline-block;
}
/*
#add-pic-input {
  opacity: 0;
  position: absolute;
  width: 36px;
  height: 33px;
} */

/* List close button */
.list-group-item .close {
  margin-top: 5px;
}

/* Text editor */
#editor {
  max-height: 500px;
  min-height: 300px;
  border: 1px solid rgb(204, 204, 204);
  padding: 5px 9px;
  border-radius: 3px;
  font-size: medium;
  overflow: auto;
  box-sizing: border-box;
}

#editor:focus {
  outline: 0px solid transparent;
  border: 1px solid #e74c3c;
}

#editor a {
  color: #c0392b;
}

/* Add menu page */
.add-menu-container {
  margin-left: auto;
  margin-right: auto;
  float: center;
}

.add-menu .add-menu-form .btn {
  height: 42px;
}

.add-menu h4 {
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
}

.add-menu .badge {
  vertical-align: middle;
}

/* Submenu styling */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/* Resource actions */
.res-actions form {
  display: inline-block;
}

.res-actions .btn {
  margin-right: 5px;
}

/* Error page */
.wrapper.error-page {
  margin: 0 auto -105px;
  padding-bottom: 105px;
}

footer.error-page {
  height: 80px;
}

/* Bootstrap Growl Notifications */
.bootstrap-growl {
  width: auto !important;
  min-width: 250px !important;
  max-width: 500px !important;
}

.bootstrap-growl .close {
  margin-left: 8px;
  margin-top: 4px;
}

.bootstrap-growl.alert {
  color: #fff;
  background: #34495E;
  border: 1px solid #101010;
  border-radius: 4px;
}

/* Collapsed navbar */
@media (max-width: 992px) {
  .nav {
    width: 100%;
  }

  ul.nav.navbar-nav {
    margin-left: 0;
    margin-bottom: 0;
  }

  ul.nav.navbar-nav.navbar-right {
    margin-top: 0;
  }

  .navbar .nav > li:hover {
    height: inherit;
  }

  .navbar .dropdown, .navbar .dropdown-menu {
    border-right: none !important;
  }

  .navbar .navbar-header {
    border-left: none !important;
  }

  ul.nav.navbar-nav.navbar-right .placeholder {
    height: 0;
  }

  .navbar .nav > li {
    display: block;
    width: 100%;
  }

  .navbar-collapse {
    background-color: #e74c3c;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    top: -3px;
    border: none;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.35);
  }

  .navbar-right .dropdown-menu {
    margin-left: 0 !important;
  }

  .dropdown-toggle, .navbar .nav ul.dropdown-menu {
    width: 100% !important;
  }

  .navbar.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
    background-color: #c0392b;
    border-bottom-color: #c0392b;
  }

  .navbar .nav li.dropdown.open .dropdown-menu {
    margin-top: 0 !important;
  }

  li.dropdown {
    width: calc(100% - 1px) !important;
  }
}

/* Facebook plugins */
.fb-like {
  margin-top: 25px;
}

.fb-like-box {
  background: #fff;
  margin-top: 15px;
}

#fb-root {
  display: none;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

/* Quick fixes */
.qf_linkUrl {
  margin-bottom: 5px;
  width: 100% !important;
}

.qf_dateInput {
  line-height: 17px;
  padding-top: 10px;
  padding-bottom: 6px;
}

.qf_dateInputW {
  margin-bottom: 5px;
}

/* Search box widget */
.search_box {
  margin-top: 10px;
}

.search_box input {
  height: 41px;
}

/* Profile page */
.profile-page {
  margin-bottom: 30px;
}

.profile-page .profile-image {
  margin-top: 10px;
  width: 100%;
  height: 256px;
  border-radius: 1px;
  background-size: cover;
}

@media (min-width: 992px) {
  .profile-page .profile-image {
    margin-top: -130px;
  }

  .profile-page .col-md-4 {
    padding-left: 25px;
  }
}

.profile-page .col-md-4 {
  text-align: center;
}

.signin-form {
  margin: 40px auto 30px;
  float: none;
}
