{{{partial 'app/views/layouts/layout_nav' user=user categories=pageData.navCategories menus=pageData.navMenus}}}

<div class="container">
  <section class="signin container">
    <h3>Sign Up</h3>

    <div class="signin-form col-md-5">
      <form role="form" action="/users" method="POST">
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="text" class="form-control" name="email" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputPassword" class="pull-left">Password</label>
          <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
        </div>
        <input type="hidden" name="role" value="user">
        <div class="signin-buttons">
          <button type="submit" class="btn btn-inverse">Create Account</button>
          <a class="btn btn-info" href="{{facebookPath}}">Use Facebook</a>
        </div>
      </form>
    </div>
  </section>
</div>
