<div class="widget">
  <h3>Calendar</h3>
  <ul>
    {{#each root.widgets.events}}
    <li>
      <span>{{name}}</span><br>
      <small>{{timeToEventFormat dateStart}} - {{timeToEventFormat dateEnd}}</small>
      {{#if description}}<br><div class="smaller">{{description}}</div>{{/if}}
    </li>
    {{/each}}
  </ul>
</div>
