<div class="widget">
  <h3>Căutare</h3>
  <form class="input-group search_box" action="/search">
    <input type="text" class="form-control" name="q">
    <span class="input-group-btn">
      <button class="btn btn-inverse" type="submit">Caută</button>
    </span>
  </form>
</div>
