<div class="hero-unit">
  <h2>All Pages</h2>
  <%- linkTo('Create a new Page', addPagePath, {class: 'btn pull-right'}); %>
</div>

<div id="pages-list">
<% if (pages) { %>
<% for (var i = 0, ii = pages.length; i < ii; i++) { %>
  <div class="row list-item" id="page-<%= pages[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(pages[i].name, pagePath(pages[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= pages[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>