{{{partial 'app/views/layouts/layout_nav' user=pageData.user nav=pageData.nav}}}

<div class="container">
  <section class="container">
    <div class="articlesWrapper col-md-8">
      <div class="articles">
        {{{partial 'app/views/layouts/layout_page' page=page}}}
      </div>
    </div>

    {{{partial 'app/views/layouts/layout_widgets' widgets=pageData.widgets}}}
  </section>
</div>
