                  <div class="control-group">
        <label for="name" class="control-label">name</label>
        <div class="controls">
                      <input type="text" class="span6" name="name" value="{{link.name}}" />
                    </div>
      </div>
                        <div class="control-group">
        <label for="url" class="control-label">url</label>
        <div class="controls">
                      <input type="text" class="span6" name="url" value="{{link.url}}" />
                    </div>
      </div>
                        