<div class="hero-unit">
  <h2>All Links</h2>
  <a href="/links/add" class="btn pull-right">Create a new Link</a>
</div>

<div id="links-list">
{{#each links }}
  <div class="row list-item" id="link-{{id}}">
    <div class="span8">
      <h3><a href="/links/{{id}}">{{id}}</a></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i>{{id}}</h3>
    </div>
  </div>
{{/each}}
</div>
