                  <div class="control-group">
        <label for="title" class="control-label">title</label>
        <div class="controls">
                      <input type="text" class="span6" name="title" value="{{post.title}}" />
                    </div>
      </div>
                                    <div class="control-group">
        <label for="content" class="control-label">content</label>
        <div class="controls">
                <textarea rows="10" class="span6" name="content">{{post.content}}</textarea>
              </div>
      </div>
                        <div class="control-group">
        <label for="status" class="control-label">status</label>
        <div class="controls">
                      <input type="text" class="span6" name="status" value="{{post.status}}" />
                    </div>
      </div>
            