{{{partial 'app/views/layouts/layout_nav' user=pageData.user categories=pageData.navCategories menus=pageData.menus}}}

<div class="container">
  <section class="container">
    <div class="articlesWrapper col-md-8">
      <div class="articles">
        {{#each posts}}
        {{{partial 'app/views/layouts/layout_post' post=this}}}
        {{/each}}
      </div>

      <ul class="pager">
        <li class="previous"><a href="#">&larr; Older</a></li>
        <li class="next disabled"><a href="#">Newer &rarr;</a></li>
      </ul>
    </div>

    {{{partial 'app/views/layouts/layout_widgets' recentPosts=pageData.recentPosts}}}
  </section>
</div>
