{{{partial 'app/views/layouts/layout_nav' root=this user=pageData.user nav=pageData.nav}}}

<div class="container">
  <section class="container">
    <div class="articlesWrapper col-md-8">
      <div class="articles">
        {{#each posts}}
        {{{partial 'app/views/layouts/layout_post_excerpt' post=this}}}
        {{/each}}
      </div>

      {{#ifEqual posts.length 0}}
      <p class="no-posts">Nu a fost gasită nicio postare.</p>
      {{/ifEqual}}

      <ul class="pager">
        {{{renderPager params.page totalPosts}}}
      </ul>
    </div>

    {{{partial 'app/views/layouts/layout_widgets' root=this widgets=pageData.widgets}}}
  </section>
</div>
