{{{partial 'app/views/layouts/layout_nav' user=pageData.user categories=pageData.navCategories menus=pageData.navMenus}}}

<div class="container">
  <section class="container">
    <div class="articlesWrapper col-md-8">
      <div class="articles">
        {{{partial 'app/views/layouts/layout_post' post=post}}}
      </div>

      {{{partial 'app/views/layouts/layout_comments' comments=post.comments user=pageData.user post=post}}}
    </div>

    {{{partial 'app/views/layouts/layout_widgets' recentPosts=pageData.recentPosts}}}
  </section>
</div>
