{{{partial 'app/views/layouts/layout_nav' root=this user=pageData.user nav=pageData.nav}}}

<div class="container">
  <section class="container">
    <div class="articlesWrapper col-md-8">
      <div class="articles">
        {{{partial 'app/views/layouts/layout_post' post=post}}}
      </div>

      {{{partial 'app/views/layouts/layout_comments' root=this comments=post.comments user=pageData.user post=post}}}
    </div>

    {{{partial 'app/views/layouts/layout_widgets' root=this widgets=pageData.widgets}}}
  </section>
</div>
