{{{partial 'app/views/layouts/layout_nav' user=user}}}

<div class="container">
  <section class="container">
    <div class="articlesWrapper col-md-8">
      <div class="articles">
        {{{partial 'app/views/layouts/layout_post' post=post}}}
      </div>

      {{{partial 'app/views/layouts/layout_comments' comments=post.comments}}}
    </div>

    {{{partial 'app/views/layouts/layout_widgets' recentPosts=recentPosts}}}
  </section>
</div>
