<div class="hero-unit">
  <form id="category-form" class="form-horizontal" action="/categories" method="POST">
    <fieldset>
      <legend>Create a new Category</legend>
      {{#if params.errors }}
      <div class="control-group">
        <ul>
        {{#each params.errors}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
      {{/if}}
      
      {{{partial "form" this}}}

      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Add" />
      </div>
    </fieldset>
  </form>
</div>
