<div class="hero-unit">
  <form id="category-form" class="form-horizontal" action="/categories/{{params.id}}?_method=PUT" method="POST">
    <fieldset>
      <legend>Update this Category</legend>
      {{#if params.errors}}
      <div class="control-group">
        <ul>
        {{#each params.errors }}
          <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
      {{/if}}
      
      {{{partial "form" this}}}

      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save" />
        <input type="submit" class="btn btn-danger" value="Delete" formaction="/categories/{{params.id}}?_method=DELETE" />
      </div>
    </fieldset>
  </form>
</div>