    <footer>
      <div class="widgets">
        <div class="container">
          <div class="col-md-4">
            <h4>Despre CNRV</h4>
          </div>
          <div class="col-md-4">
            <h4>Contact</h4>
          </div>
          <div class="col-md-4">
            <h4></h4>
          </div>
        </div>
      </div>

      <div class="nav">
        <div class="container">
          <p class="col-md-4">CNRV 2013 - Proudly powered by <a href="http://geddyjs.org/">Geddy</a></p>
        </div>
      </div>
    </footer>

    <!-- Javascript files -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="/js/core/core.js"></script> -->
    <!-- <script type="text/javascript" src="/js/models/your_model.js"></script> -->
    <!-- <script type="text/javascript" src="/js/config/init.js"></script> -->
  </body>
</html>
