    <footer>
      <div class="widgets">
        <div class="container">
          <div class="col-md-4">
            <h3 class="bottom-widget">Despre CNRV</h3>
            <p>Gimnaziul Roman Vodă funcționează de la 30 septembrie 1872, sufletul înființării acestuia fiind Costin Brăescu, care i-a dat și numele.</p>
            <p>Până în anul 1891 a funcționat în clădirea viitorului Spital militar (pe locul Spitalului Municipal de Urgență de astăzi), apoi până în anul 1899 într-o construcție situată în fața actualei cladiri. În anul 1919, împreună cu alte zece gimnazii din țară, devine Liceul Roman Vodă, iar din anul 2000 obține denumirea de Colegiul Național Roman Vodă.</p>
            <p>Colegiul este cea mai cunoscută școală din Roman, în decursul istoriei sale având nenumărați elevi și profesori iluștri.</p>
          </div>
          <div class="col-md-4">
            <h3 class="bottom-widget">Pe Hartă</h3>
            <div id="map-canvas"></div>
          </div>
          <div class="col-md-4">
            <h3 class="bottom-widget">Contact</h3>
            <address>
              <p>
                Str Mihai Eminescu, Nr 4<br>
                Roman, Neamț 611028
              </p>
              <p>
                Telefon: 0233 740 290<br>
                Fax: 0233 740 290
              </p>
              <p>
                Contact: contact@cnrv.ro<br>
                Secretariat: cnrv_secretariat@yahoo.com<br>
                Contabilitate: cnrv_contabilitate@yahoo.com<br>
              </p>
            </address>
          </div>
        </div>
      </div>

      <div class="nav">
        <div class="container">
          <p class="col-md-6">&copy; Colegiul Național “Roman-Vodă”, Roman 2014</p>
          <p class="col-md-6 pull-right">Designed and programmed with &hearts; by <a href="http://www.aluxian.com" target="_blank">Alexandru&nbsp;Roșianu</a></p>
        </div>
      </div>
    </footer>

    <!-- Javascript files -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAybeJFUjJ5_fpWNmdLUC2n5x6-3xTZ_Bw&sensor=false"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-wysiwyg.js"></script>
    <script type="text/javascript" src="/js/jquery.bootstrap-growl.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <!-- <script type="text/javascript" src="/js/core/core.js"></script> -->
    <!-- <script type="text/javascript" src="/js/models/your_model.js"></script> -->
    <!-- <script type="text/javascript" src="/js/config/init.js"></script> -->
  </body>
</html>
