    <footer>
      <div class="widgets">
        <div class="container">
          <div class="col-md-4">
            <h3 class="bottom-widget">Despre CNRV</h3>
          </div>
          <div class="col-md-4">
            <h3 class="bottom-widget">Contact</h3>
          </div>
          <div class="col-md-4">
            <h3 class="bottom-widget"></h3>
          </div>
        </div>
      </div>

      <div class="nav">
        <div class="container">
          <p class="col-md-6">&copy; Colegiul Național “Roman-Voda”, Roman 2013</p>
          <p class="col-md-6 pull-right">Website made with love by <a href="http://www.aluxian.com" target="_blank">Alexandru Rosianu</a></p>
        </div>
      </div>
    </footer>

    <!-- Javascript files -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="/js/core/core.js"></script> -->
    <!-- <script type="text/javascript" src="/js/models/your_model.js"></script> -->
    <!-- <script type="text/javascript" src="/js/config/init.js"></script> -->
  </body>
</html>
