        {{#with page}}
        <article>
          <h2><a href="{{pagePath id}}">{{title}}</a></h2>
          
          <ul class="post-info">
            <li>{{timeToPostFormat createdAt}}</li>
            <li>&bull;</li>
            <li><a href="#">Share</a></li>
          </ul>

          <div class="post-body">
            {{{content}}}
          </div>
        </article>
        {{/with}}
